<link rel="stylesheet" type="text/css" href="components/login/style.css">

<section style="background: #fafafa;">
	<div class="container">
		<div class="row justify-content-center align-items-center">
			<div class="col-12 col-lg-7 z-depth-1 py-3 px-4 bg-white">
				<div class="d-flex  justify-content-between align-items-center">
					<h1 class="text-muted">Sign In</h1>
					<div style="height: 5px;width: 20px; background: red;"></div>
				</div>
					<hr class="mb-0">	
					<small class="d-block text-right text-muted">Dumbways.com</small>
				<div class="d-none d-md-block">
					<br>	
					<div class="row">
						<div class="col-12">				
							<div class="_field-input _with-icon _underlined">
								<input type="text" name="search" placeholder="Email" class="_form-control">
								<i class="fas fa-at _icon "></i>
							</div>
						</div>
					</div>
					<br>
					<div class="row">
						<div class="col-12">				
							<div class="_field-input _with-icon _underlined">
								<input type="password" name="search" placeholder="Password" class="_form-control">
								<i class="fas fa-lock _icon "></i>
							</div>
						</div>
					</div>	
					<br>	
					<br>	
					<div class="d-flex justify-content-between">
						<div class="custom-control custom-checkbox">
						  	<input type="checkbox" class="custom-control-input" id="checkbox-agree">
						  	<label class="custom-control-label" for="checkbox-agree" style="font-size: 0.9rem;">Remember me</label>
						</div>
						<button class="btn btn-primary">Submit</button>
					</div>
				</div>
				</div>
			</div>
		</div>
	</div>
</section>