<link rel="stylesheet" href="components/tab-profil/style.css" >
<!-- portfolio -->
<section>
	<div class="container ">
		<div class="section-header">
			<div class="section-title">
				<h4> 1. Portfolio </h4>
			</div>
		</div>
		<div class="section-body">
		<div class="row">
			<div class="col-md-4">
				<!-- card dwapp -->
			<section>
				<div class="container">
					<div class="section-body">
								
								<div class="card bg-grey item-left">
									<div class="card-body">
										<h4 class="card-title text-bold">Dumbways App</h4>
										<p class="card-subtitle text-note">
											Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
										</p>
										<a href="#" class="card-link">
											<i class="fab fa-github card-icon-link"></i>
										</a>
									</div>
								<div>
					</div>
				</div>
			</section>

			</div>
			<div class="col-md-4">
				<!-- card dwapp -->
			<section>
				<div class="container">
					<div class="section-body">
								
								<div class="card bg-grey item-left">
									<div class="card-body">
										<h4 class="card-title text-bold">Dumbways App</h4>
										<p class="card-subtitle text-note">
											Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
										</p>
										<a href="#" class="card-link">
											<i class="fab fa-github card-icon-link"></i>
										</a>
									</div>
								<div>
					</div>
				</div>
			</section>

			</div>
			<div class="col-md-4">
				<!-- card dwapp -->
			<section>
				<div class="container">
					<div class="section-body">
								
								<div class="card bg-grey item-left">
									<div class="card-body">
										<h4 class="card-title text-bold">Dumbways App</h4>
										<p class="card-subtitle text-note">
											Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
										</p>
										<a href="#" class="card-link">
											<i class="fab fa-github card-icon-link"></i>
										</a>
									</div>
								<div>
					</div>
				</div>
			</section>

			</div>
		</div>

		
		</div>
	</div>
</section>

