<section>
	<div class="container">
		<div class="section-header">
			<div class="section-title">
				<h4>4. Certificate</h4>
			</div>
		</div>
		<div class="section-body">
			<div class="row">
				<div class="col-md-4">
					<img src="https://omextemplates.content.office.net/support/templates/en-us/lt04027254.png " class="img-fluid">
				</div>
				<div class="col-md-4">
					<img src="https://omextemplates.content.office.net/support/templates/en-us/lt04027254.png" class="img-fluid">
				</div>
			</div>
		</div>
	</div>
</section>