<!-- style -->
<link rel="stylesheet" href="components/alumni/style.css" >
<!-- first panel -->
<section class="pb-0">
  <div class="container-fluid banner">
    <div class="section-body">
      <div class="container">
      <div class="row" >
       <div class="col-md-1"></div>
        <div class="col-md-9 tagline" >
          <section>
          <div class="container">
            <div class="section-header">
              <div class="section-title">
                <h1 class="banner-title"><span class="brand text-white" >Learn to Code, Get A Job,
                Start Here </h1>
              </div>
            </div>
            <div class="section-body">
              <p class="ss text-white">Lorem Ipsum adalah contoh teks atau dummy dalam industri percetakan dan penataan huruf atau typesetting. Lorem Ipsum telah menjadi standar contoh teks sejak tahun 1500an, saat seorang tukang cetak yang tidak dikenal mengambil sebuah kumpulan teks dan mengacaknya untuk menjadi sebuah buku contoh huruf.</p>
              <button class="btn btn-danger btn-lg" >Baca Selanjutnya</button>
            </div>
          </div>
        </section>
        </div>
        <div class="col-md-1"></div>
      </div>
    </div>
</div>

    </div>
  </div>
</section>
  
<!-- float div -->
<section>
  <div class=" container card overlay-card" style="margin-top:-80px">
    <div class="section-header">
      <div class="section-title text-center">
        Whats our student 
        <span class="underlined text-primary">achieve?</span>
      </div>
    </div>
    <div class="section-body">
        

      <div class="row " >
        <div class="col-md-4 col-sm-12 col-xs-12">
          <div class="container">
            <div class=" row " style="align-items: center;">
              <div class="col-md-4">
                 <p class="primary-icon"><i class="fas fa-user-graduate"></i></p>
              </div>
              <div class="col-md-8">
                <p ><h3 class="text-highlight-bold">+100</h3></p>
                <p>Lorem Ipsum adalah contoh</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
        <div class="container">
          <div class="row" style="align-items: center;">
            <div class="col-md-4">
              <p class="primary-icon"><i class="fas fa-briefcase"></i></p>
            </div>
            <div class="col-md-8">
              <p ><h3 class="text-highlight-bold">78%</h3></p>
          <p>Lorem Ipsum adalah contoh</p>
            </div>
          </div>
        </div>
        </div>
        <div class="col-md-4">
          <div class="container">
            <div class="row" style="align-items: center;">
              <div class="col-md-4">
                 <p class="primary-icon"><i class="fas fa-donate"></i></p>
              </div>
              <div class="col-md-8">
                 <p ><h3 class="text-highlight-bold">IDR 8jt</h3></p>
                  <p>Lorem Ipsum adalah contoh</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    

    </div>
  </div>
</section>

<!-- menu biasa -->
<section class="pt-0 pb-0" >
  <div class="container">
    <div class="section-body">
      
        <div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-9">
      <div class="row">
       <div class="col-md-7 order-2 order-md-1" style="margin:50px 0 50px 0">
         <div class="menu container">
         <div class="row">
           <div class="col-md-6 sec-padding">
             <div class="card card-light">
             <i class=" primary-icon card-item-dist fas fa-money-check"></i>
               <div class="card-body">
                  <p class="text-bold text-primary card-item-dist">Lorem Ipsum</p>
                  <p class="card-text text-note">Lorem Ipsum adalah contoh teks atau dummy</p></div>
               </div>
            </div>
             <div class="col-md-6 sec-padding">
             <div class="card card-light">
             <i class=" primary-icon card-item-dist fas fa-tasks"></i>
               <div class="card-body">
                  <p class="text-bold text-primary card-item-dist">Lorem Ipsum</p>
                  <p class="card-text text-note">Lorem Ipsum adalah contoh teks atau dummy</p></div>
               </div>
            </div>
           </div>
           <div class="row">
            <div class="col-md-6 sec-padding">
             <div class="card card-light">
             <i class=" primary-icon card-item-dist fas fa-user-astronaut"></i>
               <div class="card-body">
                  <p class="text-bold text-primary card-item-dist">Lorem Ipsum</p>
                  <p class="card-text text-note">Lorem Ipsum adalah contoh teks atau dummy</p></div>
               </div>
            </div>
            <div class="col-md-6 sec-padding">
             <div class="card card-light">
             <i class=" primary-icon card-item-dist fas fa-briefcase"></i>
               <div class="card-body">
                  <p class="text-bold text-primary card-item-dist">Lorem Ipsum</p>
                  <p class="card-text text-note">Lorem Ipsum adalah contoh teks atau dummy</p></div>
               </div>
            </div>
         </div>
         </div>
       </div>
       <div class="col-md-5 text-center-col order-1 order-md-2">
       <section>
         <div class="container">
           <div class="section-header">
             <div class="section-header">
               <div class="section-title">
                 <h2 class="text-bold">Why Learn with<br><span class="underlined text-primary">DumbWays?</span></h2>
               </div>
             </div>
           </div>
           <div class="section-body">
             <p>
               Lorem Ipsum adalah contoh teks atau dummy dalam industri percetakan dan penataan huruf atau typesetting. Lorem Ipsum telah menjadi standar contoh teks sejak tahun 1500an
             </p>
           </div>
         </div>
       </section>            
           
       
       </div>
      </div>
  </div>
  <div class="col-md-1"></div>
</div>

    </div>
  </div>
</section>
<div class="container">

  
</div>
<!-- hire tab-->
<section class="pb-0">
  <div class="container-fluid bg-primary red-container">
    <div class="section-header">
      <div class="section-title">
         <h2 class="text-white text-bold text-center">Ready To Hire?</h2>
      </div>
    </div>
    <div class="section-body">
        
      <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 text-center">
      <p class="text-white ">Lorem Ipsum adalah contoh teks atau dummy dalam industri percetakan dan penataan huruf atau typesetting. Lorem Ipsum telah menjadi standar contoh teks sejak tahun 1500an
      </p>
      <button class="btn btn-danger btn-lg btn-outline-light " >Lorem Ipsum</button>
    </div>
    <div class="col-md-3"></div>
  </div>

    </div>
  </div>
</section>
<!-- our program -->
<section class="pb-0">
  <div class="container">
    <div class="section-body">
     
      <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-9">
      <section class="py-0 pb-0">
        <div class="container">
          <div class="section-header">
            <div class="section-title">
              <h3 class="text-bold">What is our <span class="underlined text-primary">program?</span></h3>
            </div>
          </div>
          <div class="section-body">
            <p>
              Lorem Ipsum adalah contoh teks atau dummy dalam industri percetakan dan penataan huruf atau typesetting. Lorem Ipsum telah menjadi standar contoh teks sejak tahun 1500an Lorem Ipsum telah menjadi standar contoh teks sejak tahun 1500an
            </p>
          </div>
        </div>
      </section>
      <section class="py-0 pt-3">
        <div class="container card desc-card">
          <div class="section-header">
            <div class="section-title">
              <h3 class="text-bold"><i class="fab fa-react text-highlight"></i> React Native Program</h3>
            </div>
          </div>
          <div class="section-body">
            <p>
              Lorem Ipsum adalah contoh teks atau dummy dalam industri percetakan dan penataan huruf atau typesetting. Lorem Ipsum telah menjadi standar contoh teks sejak tahun 1500an Lorem Ipsum telah menjadi standar contoh teks sejak tahun 1500an
            </p>
          </div>
        </div>
      </section class="py-0">
      <section>
        <div class="container card desc-card">
          <div class="section-header">
            <div class="section-title">
              <h3 class="text-bold"><i class="fab fa-python text-highlight"></i> Python Program</h3>
            </div>
          </div>
          <div class="section-body">
            <p>
              Lorem Ipsum adalah contoh teks atau dummy dalam industri percetakan dan penataan huruf atau typesetting. Lorem Ipsum telah menjadi standar contoh teks sejak tahun 1500an Lorem Ipsum telah menjadi standar contoh teks sejak tahun 1500an
            </p>
          </div>
        </div>
      </section>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>

    </div>
  </div>
</section>

