<div class="col z-depth-2 pt-5 pb-4">	
	
	<h5 class="row align-items-center px-3 mt">
		<b class="pr-2">Basic</b> 
		<div class="bg-dark mt-2 col" style="height: 2px ; " ></div>
	</h5>
	<b class="d-block">Gendre : Male</b>
	<b class="d-block">BirthDay : 9 March 2019</b>
	<b class="d-block">ExpectedSalery : IDR 20 Jt</b>
	<b class="d-block">Expected Location : JKT	</b>

	<h5 class="row align-items-center px-3 mt-1">
		<b class="pr-2 ">About Me</b>
		<div class="bg-dark mt-2 col" style="height: 2px ;" ></div>
	</h5>
	<p style="font-size: 0.9rem">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
	
	<h5 class="row align-items-center px-3">
		<b class="pr-2 ">Education</b>
		<div class="bg-dark mt-2 col" style="height: 2px ;" ></div>
	</h5>
	<div class="row">
		<div class="col-4"></div>
		<div class="col-8">
			<h6 class="m-0">Univetsitas Indonesia</h6>
			<b class="m-0">Bacholor Degeroo, Information Technology</b>
			<p style="font-size: 0.9rem">2017 - 2018</p>
		</div>
	</div>

	<h5 class="row align-items-center px-3">
		<b class="pr-2 ">Experience</b>
		<div class="bg-dark mt-2 col" style="height: 2px ;" ></div>
	</h5>
	<div class="row">
		<div class="col-4"></div>
		<div class="col-8">
			<h5 class="m-0">UI/UX Designer</h5>
			<b class="m-0">Bacholor Degeroo, Information Technology</b>
			<small class="d-block">work 2017- Now</small>
			<small class="d-block">java view</small>
		</div>
	</div>
</div>
